

.App {
  text-align: center;
}

.slick-next {
  background: red;
  right: 40px;
  z-index: 100;
}
.slick-prev {
  left: 100px;
  background: red;
  z-index: 100;
}
.slick-next:hover, slick-prev:hover {
  background: blue;
}